module named 1.0;

require {
        type etc_t;
        type sysctl_net_t;
        type named_t;
        class dir search;
        class file { create getattr open read write };
}

#============= named_t ==============

#!!!! This avc is allowed in the current policy
allow named_t etc_t:file { create write };

#!!!! This avc is allowed in the current policy
allow named_t sysctl_net_t:dir search;

#!!!! This avc is allowed in the current policy
allow named_t sysctl_net_t:file { getattr open read };

